<section id="login">
  <div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
      <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
          <h1>Log in your account</h1>
          <div class="alert alert-danger" role="alert" *ngIf="showInvalidCredentials">
            <strong>Oh snap!</strong> Invalid credentials.
          </div>
          <div class="form-group" [ngClass]="{'has-error': !loginForm.controls['username'].valid && loginForm.controls['username'].touched }">
            <label for="username" class="sr-only">Username</label>
            <input class="form-control" id="username" type="text" formControlName="username" placeholder="Username" />
          </div>
          <div class="form-group" [ngClass]="{'has-error': !loginForm.controls['password'].valid && loginForm.controls['password'].touched }">
            <label for="password" class="sr-only">Password</label>
            <input class="form-control" id="password" type="password" formControlName="password" placeholder="***" />
          </div>
          <button type="submit" class="btn btn-custom btn-lg btn-block" [disabled]="!loginForm.valid">Login</button>


          <a href="javascript:;" class="forget" data-toggle="modal" data-target=".forget-modal">Forgot your password?</a>
          <hr/>
        </div>
        <!-- /.col-xs-12 -->
      </div>
      <!-- /.row -->
    </form>
  </div>
  <!-- /.container -->
</section>

<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <p>Page © - 2016</p>
        <p>Powered by <strong><a href="#" target="_blank">Some Company</a></strong></p>
      </div>
    </div>
  </div>
</footer>