<div class="login-wrapper columns">
    <div class="column is-8 is-hidden-mobile hero-banner">
      <section class="hero is-fullheight is-dark">
        <div class="hero-body">
          <div class="container section">
            <div class="has-text-right">
              <h1 class="title is-1">Login</h1> <br>
              <p class="title is-3">Secure User Account Login</p>
            </div>
          </div>
        </div>
        <div class="hero-footer">
          <p class="has-text-centered">Image © Glenn Carstens-Peters via unsplash</p>
        </div>
      </section>  
    </div>
    <div class="column is-4">
      <section class="hero is-fullheight">
        <div class="hero-heading">
          <div class="section has-text-centered">
            <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma logo" width="150px">
          </div>
        </div>
        <div class="hero-body">
          <div class="container">
            <div class="columns">
              <div class="column is-8 is-offset-2">
                <!-- <h1 class="avatar has-text-centered section">
                  <img src="https://placehold.it/128x128">
                </h1> -->
                <div class="login-form">
                  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
                        <label>Username
                          <p class="control has-icon has-icon-right">
                              <input class="input email-input" type="text" formControlName="username" placeholder="Username" 
                                    [ngClass]="{'is-danger': !loginForm.controls['username'].valid && loginForm.controls['username'].touched }">
                              <span class="icon user">
                                <i class="fa fa-user"></i>
                              </span>
                            </p>
                        </label>
                        <div class="has-text-danger" *ngIf="!loginForm.controls['username'].valid && 
                                                  loginForm.controls['username'].touched &&
                                                  loginForm.controls['username'].errors.required">required</div>
                
                        <label>Password
                          <p class="control has-icon has-icon-right">
                              <input class="input password-input" type="password" formControlName="password" placeholder="●●●●●●●" 
                                    [ngClass]="{'is-danger': !loginForm.controls['password'].valid && loginForm.controls['password'].touched }">
                              <span class="icon user">
                                <i class="fa fa-lock"></i>
                              </span>
                            </p>
                        </label>
                        <div class="has-text-danger" *ngIf="!loginForm.controls['password'].valid && 
                                                  loginForm.controls['password'].touched && 
                                                  loginForm.controls['password'].errors.required">required</div>
                        <p class="control login">
                            <button type="submit" class="button is-success is-outlined is-large is-fullwidth" [disabled]="!loginForm.valid">Login</button>
                        </p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>  
    </div>
  </div>